.container {
  position: relative;
  background-color: white;
  padding-top: 12px;
  z-index: 998;
  margin:0 auto;
  overflow: hidden;
  .like{
    position: absolute;
    right: 0;
  }
  mat-slider{
    width:40%;
  }

  .controls{
    button{
      margin:5px;
    }
  }
}
